.tags-input-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    :hover {
        cursor: pointer;
    }

}

.text {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tags {
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: $border-radius-smallest;
    padding: 1px 18px;
}