.star-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.star {
    width: 25px;
    height: 24px;

    @media screen and (max-width: $breakpoint-tablet) {
        width: 13px;
        height: 13.41px;
    }
}