.logement-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-tablet) {
        display: block;
    }

    p {
        color: $color-primary;

        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 14px;
            margin: 5px 0;
        }
    }

}