.logement-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-tablet) {
        display: block;
    }

    p {
        color: $color-primary;
    }

}