.ErrorWrapper {
    @include flex-column;
    color: $color-primary;
    margin-bottom: 10px;
}

.ErrorTitle {
    font-weight: 700;
    font-size: 288px;
}

.ErrorSubtitle {
    font-weight: 300;
    margin: -30px 0 182px 0;
}