.collapse-wrapper {
    @include flex-column;

    &-location {
        display: flex;
        gap: 25px;
    }

}

.collapsible {
    width: 75%;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: $border-radius-smallest;
    padding: 0 10px;
    height: 52px;
}

.content {
    background-color: $color-bg;
    color: $color-primary;
    border-radius: $border-radius-smallest;
    padding: 1px 18px;

}