.collapse-wrapper {
    @include flex-column;

    &-location {
        display: flex;
        gap: 25px;

        @media screen and (max-width: $breakpoint-tablet) {
            @include flex-column;
            gap: 0;

        }

    }

}

.collapsible {
    width: 85%;
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-desktop) {
        width: 100%;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: $border-radius-smallest;
    padding: 0 10px;
    height: 52px;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-tablet) {
        height: 30px;
    }

    img {
        @media screen and (max-width: $breakpoint-tablet) {
            height: 9.14px;
        }


    }
}

.content {
    background-color: $color-bg;
    color: $color-primary;
    border-radius: $border-radius-smallest;
    padding: 1px 18px;

    p {
        font-size: 24px;

        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 12px;
        }
    }

}