.HeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 68px;

    @media screen and (max-width: $breakpoint-desktop) {
        padding-bottom: 30px;
    }



    & nav {
        display: flex;

        & a {
            margin: 10px;
            font-size: 24px;

            @media screen and (max-width: $breakpoint-desktop) {
                font-size: 12px;
            }
        }
    }

}