.HeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 68px;

    & nav {
        display: flex;

        & a {
            margin: 10px;
            font-size: 24px;

            @media screen and (max-width: 769px) {
                font-size: 12px;
            }
        }
    }

}