.carousel {
    position: relative;

    .div-image img {
        height: 415px;
        width: 100%;
        border-radius: $border-radius;
        object-fit: cover;

        @media screen and (max-width: $breakpoint-tablet) {
            height: 255px;
            border-radius: $border-radius-small;


        }
    }

    button {
        overflow: hidden;
        border: 0;
        padding: 0;

        .classChevronGauche {
            top: 38%;
            left: 2%;
            position: absolute;
            z-index: 10;
            cursor: pointer;

            @media screen and (max-width: $breakpoint-tablet) {
                width: 12px;
                height: 20px;

            }
        }

        .classChevronDroite {
            top: 38%;
            right: 2%;
            position: absolute;
            z-index: 10;
            cursor: pointer;

            @media screen and (max-width: $breakpoint-tablet) {
                width: 12px;
                height: 20px;

            }

        }
    }

    .compteurImages {
        color: $color-secondary;
        margin: 0;
        position: absolute;
        left: 48.95%;
        right: 49.11%;
        top: 86.19%;
        bottom: 6.01%;

        @media screen and (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

}

.button-wrapper {
    @media screen and (max-width: $breakpoint-tablet) {
        display: flex;
    }


}