$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$color-tertiary: #E5E5E5;
$color-bg: #F6F6F6;
$color-footer: #000000;

$border-radius: 25px;
$border-radius-small: 10px;
$border-radius-smallest: 5px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;