.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/e270fc8fc902a1eb738458e7b29c1899.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    border-radius: 25px;
    height: 223px;
    margin-bottom: 31px;
    //filter: brightness(50%);

    h1 {
        color: $color-secondary;
    }
}