.banner {

    &__home {
        background-image: url("../../assets/thumbnail_IMG_1584.jpg");
        @include backgroundrules;
        border-radius: $border-radius;
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $breakpoint-tablet) {
            border-radius: $border-radius-small;
        }

    }




    &__about {
        background-image: url("../../assets/b9995860bb6384a77ca7dc9bf52da3be.jpg");
        @include backgroundrules;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        margin-bottom: 31px;
        filter: brightness(50%);

        @media screen and (max-width: $breakpoint-tablet) {
            border-radius: $border-radius-small;
        }


    }
}