.banner {
    &__home {
        background-image: url("../../assets/e270fc8fc902a1eb738458e7b29c1899.jpg");
        @include backgroundrules;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        margin-bottom: 31px;
        //filter: brightness(50%);

        h1 {
            color: $color-secondary;
        }
    }

    &__about {
        background-image: url("../../assets/b9995860bb6384a77ca7dc9bf52da3be.jpg");
        @include backgroundrules;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        margin-bottom: 31px;
        filter: brightness(50%);

    }
}